__pycache__/
*.py[cod]
data/
.venv/
.cache/
.pre-commit-cache/
.vscode/
*.egg-info/
*_cache/
reports/
.python-version
*.ckpt
*.pt
manifest.json
# Ignore all yaml files in the examples folder except config.yaml as template:
examples/*.yaml
!examples/config.yaml
